@import url(./fonts.css);
@import url(./header.css);
@import url(./footer.css);

.unimar-logo {
    filter: invert(1) saturate(0) brightness(200%);
    width: 6rem;
}

body {
    margin:0;
    padding: 0;
    font-size: 16px;
    font-family: 'Raleway';
}

main {
    min-height: 60vh;
}

button {
    cursor: pointer;
}

a {
    cursor: pointer;
    text-decoration: none;
}

:root {
    --default-blue: #0f4c98;
    --main-bg-color: brown;
}

