@import url(./main.css);

main {
    margin: 5rem 10vw;
}

.menu_title {
    font-size: 3rem;
    font-weight: 800;
    font-family: 'Roboto';
    color: #8f8f8f;
    margin-bottom: 0;
}

.menu_button-finish{
    width: 100%;
    text-align: center;
}

.menu_button-finish button{
    background-color: #191919;
    font-weight: 700;
    color: white;
    border-radius: .35rem;
    font-size: 1.025rem;
    text-transform: uppercase;
    width: 7%;
    height: 1.6rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.menu-route {
    margin-left: auto;
    margin-right: auto;
}

.register-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 4rem;
    margin: 1.25rem 5vw;
}